body{
    background-color: lightgray; 
    margin: 0%;
}

/*.red{
    background-color: red;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
} */

.redbg{
    background-color: red;
}

.navbar{
    border-radius: 5px;
    color: red;
}

.imageborder{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.logohome{
    align-self: center;
}

.homepic{
    float: left;
    max-width: 250px;
    max-height: 250px;
    padding: 0 10px 0 0;
}

.homepicmargin{
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.hometext{
    text-align: justify;
    padding-top: 12px;
}
